body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    background-color: #f0f0f0;
}

.slider {
    width: 1200px;
    margin: 50px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
    animation-timing-function: linear;
}

.slide {
    width: 1200px;
}

.slide img {
    height: 450px;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
   
}